{% extends 'base.html.twig' %}

{% block title %}Hello OperationsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>All operations</h1>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Wallet balance</th>
                <th>Operacton amount</th>
                <th>Date add</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for alloperation in alloperations %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ alloperation.wallet_balance }}</td>
                <td>{{ alloperation.operacton_amount}}</td>
                <td>{{ alloperation.operation_description }}</td>
                <td>{{ alloperation.date_operation|date('d-m-Y') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
