{% extends 'base.html.twig' %}

{% block title %}Hello OperationsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>All clients and wallets</h1>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Last name</th>
                <th>Balence</th>
                <th>Operation</th>
                <th>Description</th>
                <th>Date add</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ client.name }}</td>
                <td>{{ client.lastname }}</td>
                <td>{{ client.balance }}</td>
                <td>{{ client.last_operations }}</td>
                <td>{{ client.description }}</td>
                <td>{{ client.createAd|date('d-m-Y')}}</td>
                <td>
                 <a href="{{ path('operations_show',{'wallet_id' : client.wallet_id}) }}">All wallet</a>
                 <a href="{{ path('operations_file',{'wallet_id' : client.wallet_id}) }}">Generate file</a>
                 <a href="{{ path('operations_file_csv',{'wallet_id' : client.wallet_id}) }}">Generate file CSV</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
